.profileMain {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;

  background-color: var(--dark-gray);
  border-radius: 1rem;
}

.profileInfoContent {
  p {
    font-size: 1.4rem;
    color: var(--white);
    font-family: "Museo For Dell";

    span {
      font-size: 1.4rem;
      color: var(--light-gray);
      font-family: "Trebuchet MS";
    }
  }
}

.editBtnBx {
  button {
    background-color: transparent;
    border: 1px solid var(--light-gray);
    border-radius: 1rem;
    padding: 0.5rem;
    color: var(--light-gray);
  }
}

.teamsButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 1rem;
  background-color: transparent;
  color: var(--white);
  padding: 0.5rem;
  margin-top: 1rem;

  svg {
    margin-right: 0.8rem;
  }
}

.profileStats {
  display: flex;
  flex-direction: row;
}

.technologies {
  background-color: var(--dark-gray);
  border-radius: 1rem;
  width: 100%;
  margin: 2rem 1rem 2rem 0;
  padding: 2rem;
}

.header {
  display: flex;
  text-align: center;
  width: 100%;
  position: relative;
  justify-content: center;

  h1 {
    color: var(--white);
    font-family: "Museo For Dell";
    font-size: 2rem;
    font-weight: lighter;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 1px solid var(--light-gray);
    border-radius: 1rem;
    padding: 0.5rem;
    color: var(--light-gray);
  }
}

.contentTech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.graphContainer {
  width: 30%;

  img {
    width: 100%;
  }
}

.legendGraphContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;

  li {
    display: flex;
    align-items: center;
    margin: 1rem;

    div {
      border-radius: 50%;
      width: 16px;
      height: 16px;
    }

    p {
      color: var(--white);
      margin-left: 1rem;
      font-size: 1.4rem;
    }
  }
}

.dellMatchStats {
  background-color: var(--dark-gray);
  border-radius: 1rem;
  width: 100%;
  margin: 2rem 0 2rem 1rem;
  padding: 2rem;
}

.statsContent {
  display: flex;
  flex-direction: row;
  color: var(--white);
  padding: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    p {
      font-size: 5rem;
      font-weight: bold;
      line-height: 0.9;
    }

    span {
      font-size: 1.4rem;
      font-weight: lighter;
    }
  }

  p {
    font-size: 1.6rem;
    font-weight: lighter;
  }
}

.profileProjects {
  background-color: var(--dark-gray);
  border-radius: 1rem;
  width: 100%;
  padding: 2rem;
}

.allProjectBtn {
  border: none !important;
  color: var(--white) !important;
  font-size: 1.4rem !important;
}

.projectContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
      text-align: center;
      margin: 1rem;

      div {
        width: 150px;
        
        img {
          border-radius: 1rem;
          width: 100%;
        }
      }

      p{
        color: var(--white);
        font-size: 1.4rem;
        margin: 0.5rem;
      }
    }
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  left: 30px;
  right: 30px;
  margin-right: 20px;

  span {
    color: var(--white);
    display: flex;
    justify-content: center;
    font-family: "Museo For Dell";
    font-style: normal;
    position: relative;
    top: 5px;
    font-size: 16px;
  }
}

.ProjectImage {
  display: flex;
  width: 164px;
  height: 80px;
  border-radius: 10px;

  img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 10px;
  }
}
