.logoBx {
  padding: 1rem;
  margin-bottom: 5rem;
  display: flex;
  width: min-content;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.welcomeContainer {
  color: var(--white);
  text-align: center;

  h1 {
    font-size: 3rem;
    font-weight: lighter;
  }

  p {
    font-size: 1.7rem;
    font-weight: lighter;
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  border-left: 2px solid var(--dell-border);
}