.container {
  border-right: 1px solid var(--dell-border);
  display: flex;
  flex-direction: column;
  width: max-content;
  color: var(--white);
}

.infosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--dell-border);
}

.pictureBx {
  width: 100px;
  margin: 1rem;

  img {
    background-color: var(--white);
    width: 100%;
    border-radius: 50%;
  }
}

.personalInfos {
  text-align: center;
  h3 {
    font-size: 2rem;
    font-weight: lighter;
  }

  p {
    font-size: 1.4rem;
  }
}

.address {
  display: flex;
  justify-content: center;

  p {
    font-size: 1rem;
  }
}

.favoriteTags {
  margin-top: 1rem;
  text-align: center;

  h1 {
    font-weight: lighter;
    font-weight: 1.8rem;
  }
}

.favoriteTagsBx {
  ul {
    display: flex;

    li {
      padding: 0.2rem 1rem;
      margin: 0.5rem 0.7rem;
      border: 1px solid var(--white);
      border-radius: 1rem;
    }
  }
}

.curriculumContainer {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--dell-border);

  h2 {
    font-weight: lighter;
  }

  div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
  }
}

.achievementsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem 1rem;

  h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin: 2rem 0;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: center;

    img {
      width: 60px;
      border-radius: 50%;
    }

    p {
      font-size: 1.2rem;
    }
  }
}
